html {
    margin: 0;
    padding: 0;
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #fbfbfd;
    box-sizing: border-box;
    /* height: 630vh; */
}

.page-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 3000;
    position: relative;
    overflow: hidden;
}

.header-container {
    width: 100%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(3px);
    height: 44px;
    justify-content: center;
    z-index: 1;
    position: fixed;
    /* display: block; */
}

.header-container, .section {
    width: 100vw;
}

.section {
    position: relative;
}

.nav-container {
    width: 1025px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.25fr 3fr 0.25fr 0.25fr;
    align-items: center;
    justify-content: center;
}


.nav-apple-logo {
    width: 13px;
    height: 16px;
    justify-self: center;
}
.nav-list-container {
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.list-item {
    display: inline;
    text-decoration: none;
    color:  gainsboro;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    list-style: none;
}

.list-item:hover, .nav-apple-logo:hover {
    color: #fff;
    cursor: pointer;
}

.search-container, .search-container2, .shopping-bag-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.round-glass, .round-glass2 {
    position: absolute;
    top: 14px;
    left: 25px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fbfbfd;
}

.round-glass2 {
    border: 1px solid #9f9fa0;
}

.round-glass, .round-glass2, .handle, .handle2 {
    cursor: pointer;
}

.handle, .handle2 {
    position: absolute;
    top: 25.25px;
    left: 33px;
    width: 6px;
    height: 1px;
    background: #fbfbfd;
    transform: rotate(48deg);
}

.x1, .x2 {
    width: 19px;
    height: 1px;
    background-color: #9f9fa0;
    position: absolute;
}

.x1 {
    transform: rotate(45deg);
}

.x2 {
    transform: rotate(-45deg);
}


.handle2 {
    background: #9f9fa0;
}

.bag {
    position: absolute;
    left: 22px;
    top: 16px;
    width: 11.5px;
    height: 11.5px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #fbfbfd;
}

.bag-string {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    border: 1px solid #fbfbfd;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    left: 25.5px;
}

.bag, .bag-string {
    cursor: pointer;
}

/* changing nav when search is clicked */
.search-nav-container {
    position: fixed;
    top: 0;
    left: calc((100% - 70%)/2);
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-areas: "search", "input", "exit";
    align-items: center;
    justify-content: center;
}

.search-icon {
    grid-area: "search";
}

.search-input {
    grid-area: "input";
    color: #fbfbfd;
    border: none;
    height: 95%;
    font-size: 16px;
    background: transparent;
}

.search-input:focus {
    outline: none;
}

.exit-icon {
    grid-area: "exit";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes filter-background {
    100% {
        filter: brightness(70%);
    }
}

@keyframes animate-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-focus {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate-blink {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.section-1-container {
    position: relative;
    width: 100vw;
    height: 748px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    top: 0px;
    object-fit: fill;
    padding-top: 40px;
    background-color: black;
    overflow: hidden;
    z-index: -5;
}


.section-1-title {
    margin-top: 52px;
    font-size: 54px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: -0.5px;
    color: white;
}

.item-description {
    font-size: 28px;
    padding: 1.5px;
    color: white;
}

.section1-link-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.sec-link {
    padding-top: 15px;
    font-size: 21px;
}

a {
    color: #06c;
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.iphone-image {
    width: 100vw;
    object-fit: contain;
    position: absolute;
    bottom: 200px;
    transform: scale(2);
    z-index: -2;
}


.section-2-container {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    height: 850px;
}


.apple-gift {
    width: 33%;
    position: absolute;
}

.sec3 {
    color: rgb(245, 241, 239);
    position: absolute;
    font-size: 26px;
}

.sec3-title {
    bottom: 160px;
    font-size: 56px;
}

.sec3-desc {
    width: 30%;
    bottom: 71px;
    font-weight: 300;
    text-align: center;
}

.shop-link {
    position: absolute;
    bottom: 52px;
}

.sec3-link {
    color: #2997ff;
}


.section-3-container {
    height: 691px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    position: relative;
    background-color: rgb(4, 0, 43);

}

.ipad-image {
    width: 43%;
    object-fit: contain;
    z-index: -1;
    margin-left: -100px;
}

.sec2-desc-container {
    display: flex;
    width: 35%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -170px;
}

.sec2-title {
    font-size: 54px;
    font-weight: 500;
    padding-bottom: 12px;
}

.sec2-desc {
    font-size: 26px;
    font-weight: 100px;
}

.sec2-link-container {
    display: flex;
    gap: 40px;
    padding: 0;
}

.section-4-container {
    width: 100vw;
    height: 1780px;
    display: grid;
    grid-template-areas: "image1 image2" "image3 image4" "image5 image6";
    padding: 13px;
    column-gap: 15px;
}

.images-wrapper {
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.image1-wrapper {
    grid-area: image1;
}

.image2-wrapper {
    grid-area: image2;
}

.image3-wrapper {
    grid-area: image3;
}

.image4-wrapper {
    grid-area: image4;
}

.image5-wrapper {
    grid-area: image5;
}

.image6-wrapper {
    grid-area: image6;
}


.apple-images {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    transform: scale(1);
}

.images-desc {
    position: absolute;
    top: 50px;
    width: 300px;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1-title {
    color: black;
    font-size: 40px;
    text-shadow: 1px 1px 2px white, 0 0 10px white;
}

.img1-desc {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 5px white;
    font-size: 20px;
    font-weight: 300;
}

.image1-container {
}

.image1-desc-container {
    width: 50%;
}


.img1-link-container, .img3-link-container, .img4-link-container, .img5-link-container, .img6-link-container {
    display: flex;
    gap: 40px;
}

.img1-link-container {
    text-shadow: 1px 1px 2px black, 0 0 7px white;
}

.img1-link, .img2-link, .img3-link, .img4-link, .img5-link, .img6-link {
    font-size: 17px;
}

.img1-link a, .img3-link a {
    color: #2997ff;
}

.img2-link a, .img4-link a, .img5-link a, .img6-link a {
    color: #06c;
}

.img2-logo {
    width: 30px;
    height: 36px;    
}

.img2-title, .img5-title, .img6-title {
    font-size: 40px;
    color: #000;
    font-weight: 500;
    padding-top: 10px;
}

.img2-desc {
    color: #000;
    font-size: 22px;
    font-weight: 300;
    padding-top: 10px;
}

.img3-logo, .img4-logo {
    color: white;
    width: 23px;
    height: 28px;
    margin-right: 5px;
}

.img3-title, .img4-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    color:#fbfbfd;
    padding-top: 9px;
}

.model {
    padding-top: 2px;
    color: rgb(213, 0, 0);
    letter-spacing: 2px;
    font-size: 14px;
}

.img3-desc {
    color: #fbfbfd;
}

.img3-desc, .img4-desc, .img5-desc, .img6-desc {
    color: #000;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.img3-desc {
    color: #fbfbfd;
}

.img4-logo {
    color: #000;
}

.watch2 {
    color:#000;
}

.subtitle-container {
    display: flex;
}

.m2-logo {
    padding-top: 5px;
    padding-left: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.section-5-container {
    display: flex;
    width: 100vw;
    height: 68vh;
    column-gap: 10px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

@keyframes animate-pic-fly-left {
    0% {
        right: 0%;
    }
 
    100% {
        right: 67%;
    }
}

@keyframes animate-pic-fly-left-blur {
    0% {
        right: 0%;
        opacity: 1;
    }
    75% {
        opacity: 0.3;
    }
    100% {
        right: 67%;
        opacity: 0.3;
    }
}

@keyframes animate-pic-fly-left-focus {
    0% {
        right: 0%;
        opacity: 0.3;
    }
    75% {
        opacity: 1;
    }
    100% {
        right: 67%;
        opacity: 1;
    }
}

@keyframes animate-btn-desc-container-blur {
    0% {
        bottom: 54px;
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes animate-btn-desc-container-focus {
    0% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 54px;
        opacity: 1;
    }
}


.main-container {
    width: 100%;
}

.before-container, .main-container, .after-container, .after-after-container {
    object-fit: none;
    height: 100%;
    position: relative;
}

.movie-picture {
    right: 75%;
    height: 100%;
    position: relative;
}

.button-desc-container {
    width: 70%;
    display: flex;
    position: absolute;
    right: 96%;
    align-items: center;
    bottom: 0;
}

.before-button-desc-container, .after-button-desc-container, .after-after-button-desc-container {
    opacity: 0;
    bottom: 0px;
}

.main-button-desc-container {
    bottom: 54px;
    right: 96%;
    opacity: 1;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 22px;
    border: none;
    cursor: pointer;
}

.play-btn {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.movie-desc {
    color: #fbfbfd;
}

[class*="category"] {
    color: #fbfbfd;
    font-size: 19.5px;
    padding-left: 44px;
}

.movie-desc {
    width: 60%;
    font-size: 19px;
    font-weight: 300;
    padding-left: 3px;
}

.before-before-container, .before-container, .after-container, .after-after-container {
    opacity: 0.3;
}

.movie-nav-container {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middot-container {
    display: flex;
    height: 30%;
    width: 95%;
    justify-content: center;
    align-items: center;
}
.middot {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding-left: 10px;
    color: lightgrey;
    cursor: pointer;
}

.middot1 {
    color: gray;
    padding-left: 30px;
}

@keyframes animate-middot1 {
    0% {
        color: gray;
    }
    100% {
        color: lightgrey;
    }
}

@keyframes animate-middot2 {
    0% {
        color: lightgrey;
    }
    100% {
        color: gray;
    }
}

.paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.running {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

.pause-play-btn-container {
    display: flex;
    width: 5%;
    height: 100%;
    align-items: center;
    /* justify-content: center; */
}

.pause-play-btn {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pause-symbol {
    width: 8px;
    height: 9px;
    background: linear-gradient(to right,black 0%, black 40%, #fbfbfd 40%, #fbfbfd 65%, black 65%, black 100%);
    background-position: center;
    z-index: 1;
}

.play-symbol {
    margin: 1px 0 1px 1.8px;
    width: 8px;
    height: 9px;
    background-color: black;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%, 0% 0%);
}

.section-6-container {
    height: 655px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    background-color: #f5f5f7;
}

.upper-info-container {
    /* position: absolute; */
    display: flex;
    width: 60%;
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    font-size: 12.5px;
    color: #9f9fa0;
}

.middle-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 60%;
    padding-top: 20px;
    justify-content: space-between;
}

.label {
    font-size: 12.5px;
    white-space: nowrap;
}

.column-container {
    width: 30%;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 0;
    margin-top: 11px;
}

.items {
    white-space: nowrap;
    color: #424245;
    width: 100%;
    letter-spacing: 0.5px;
    text-decoration: none;
    list-style: none;
    font-size: 0.75rem;
    font-weight: 300;
}

.items:hover {
    text-decoration: underline;
    cursor: pointer;
}

.label2-bottom, .label4-mid, .label4-bottom, .label5-bottom {
    margin-top: 25px;
}

.bottom-info-container {
    margin-top: 28px;
    width: 60%;
    font-size: 12px;
    color: #9f9fa0;
}

.top-footer-container {
    border-bottom: 1px solid #9f9fa0;
    padding-bottom: 10px;
}

.top-footer {
    letter-spacing: 0.4px;
}

.mid-footer-container {
    display: grid;
    grid-template-columns: 810px 170px;
    margin-bottom: 0;
}

.mid-footer-left, .english, .french {
    margin-bottom: 6px;
}

.english:hover, .french:hover, .bottom-footer-content:hover {
    cursor: pointer;
    text-decoration: underline;
}

.app-store-link:hover, .retailer-link:hover {
    cursor: pointer;
}

.mid-footer-right-container {
    display: flex;
    font-size: 12.5px;
    letter-spacing: 0.1px;
    color: #9f9fa0;
}

.french {
    font-size: 12.5px;
    letter-spacing: 0.1px;
    margin-left: 10px;
    padding-left: 10px;
}

.bottom-footer {
    display: flex;
    padding-left: 0;
    margin-top: 0;
}

.bottom-footer-content {
    font-size: 0.75rem;
    letter-spacing: 0.1px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #9f9fa0;
    color: #9f9fa0;
    list-style: none;
}



@media only screen and (max-width: 1068px) {
    .section-1-container {
        height: 703px;
    }
    .section-1-title {
        font-size: 47px;
    }
    /* .sec1.item-description {
        font-size: 23.5px;
    } */
    .item-description {
        font-size: 23.5px;
    }
    .sec-link {
        font-size: 18.5px;
    }
    .iphone-image {
        width: 400px;
    }

    .section-2-container {
        height: 650px;
    }
    .apple-gift {
       width: 475px;
       top: 20px;
    }
    .sec2-title {
        font-size: 4rem;
    }

    .sec2-desc {
        font-size: 23px;
        width: 40%;
    }
    .section-3-container {
        height: 657px;
    }
    .ipad-image {
        width: 620px;
    }

    .sec3-title {
        font-size: 48px;
        padding-bottom: 4px;
    }
    .sec3-desc {
        font-size: 23px;
    }


    .section-4-container {
        height: 1500px;
        column-gap: 13px;
        position: relative;
    }

    .apple-images {
        position: absolute;
        top: 10px;
    }

    .images-wrapper {
        height: 50.75vh;
        overflow: hidden;
    }
    .img1-title {
        top: 4px;
        font-size: 35px;
        padding-bottom: 0px;
    }
    .img1-desc {
        font-size: 19px;
    }
    .sec-link {
        font-size: 16px;
        padding-top: 13px;
    }
    .apple-images {
        /* height: 490px; */
        height: 100%;
        width: 100%;
    }
    .images-desc{
        top: 38px;
    }
    .img2-logo {
        width: 25px;
        height: 30px;
    }
    .img2-title, .img5-title, .img6-title {
        font-size: 29px;
    }
    .img2-desc {
        font-size: 17.5px;
        padding-top: 5px;
    }
    .img3-logo, .img4-logo {
        width: 19px;
        height: 24px;
    }
    .img3-title, .img4-title {
        font-size: 24px;
        letter-spacing: 0.3px;
    }
    .model {
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: 500;
    }
    .img3-desc, .img4-desc, .img5-desc, .img6-desc {
        font-size: 18px;
    }
    .image6-container {
        object-fit: contain;
        bottom: -50px;
    }
    .m2-logo {
        width: 28px;
        height: 28px;
        padding-left: 6px;
    }

    .section-5-container {
        height: 37.5vh;
        column-gap: 15px;
    }
    .button-desc-container {
        width: 80%;
        right: 88%;
        bottom: 5%;
    }
    .stream-btn {
        min-width: 155px;
        letter-spacing: 0.4px;
    }

    [class*="category"] {
        font-size: 19.5px;
        width: fit-content;
        padding-left: 30px;
    }
    .movie-desc {
        width: fit-content;
        font-size: 17px;
        padding-left: 2px;
    }
    @keyframes animate-btn-desc-container-blur {
        0% {
            bottom: 5%;
            opacity: 1;
        }
        100% {
            bottom: 0%;
            opacity: 0;
        }
    }
    @keyframes animate-btn-desc-container-focus {
        0% {
            bottom: 0%;
            opacity: 0;
        }
        100% {
            bottom: 5%;
            opacity: 1;
        }
    }

}



@media only screen and (max-width: 390px) {

    html, body {
        width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

  .header-container {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    background: transparent;
  }

    .nav-container {
        background: rgba(0,0,0,0.8);
        backdrop-filter: saturate(180%) blur(20px);
        
        height: 7vh;
        width: 100vw;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "burger logo bag";
        /* display: flex; */
        justify-content: center;

    }
   
    .nav-list-container {
        display: none;
    }

    /* .nav-list-container > li {
        display: none;
    } */

    .nav-apple-logo {
        width: 15px;
        height: 18px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-container {
        grid-area: burger;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopping-bag-container {
        grid-area: bag;
    }

    .bag, .bag-string {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 10%;
    }

    .bag-string {
        left: 20%;
    }

    .round-glass, .handle {
        width: 15px;
        height: 1.2px;
        background: #f5f5f7;
        border: none;
        left: 50%;
    }

    .round-glass {
        margin-top: 5px;
    }
    .handle {
        transform: rotate(0deg);
    }

    .section-1-container {
        height: 570px;
    }

    .section-1-title {
        font-size: 2rem;
        margin-top: 40px;
    }

    .item-description {
        font-size: 1.2rem;
    }

    .section1-link-container {
        gap: 35px;
    }

    .iphone-image {
        width: 100vw;
        height:58vh;
        top: 160px;
        left: 28px;
        transform: rotate(90deg);
        scale: 2.5;
        z-index: -1;
    }

    .section-1-title {
        font-size: 32px;
        font-weight: 400;
    }

    .item-description {
        font-size: 18px;
        font-weight: 300;
    }

    .sec-link {
        color: #67b3fa;
        font-size: 18px;
    }

    .apple-gift {
        width: 100%;
    }

    .sec3-desc {
        width: 75%;
        font-size: 1.3rem;
    }

    .sec3-title {
        font-size: 2.5rem;
    }

    .section-2-container {
        height: 500px;
    }

    .sec2-desc-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -260px;
        margin-left: 0;
    }

    .sec2-title {
        position: absolute;
        top: 50px;
        font-size: 2.1rem;
    }

  

    .sec-link {
        padding-top: 5px;
    }

    .sec2-desc {
        font-size: 1.15rem;
        font-weight: 400;
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    .ipad-image {
        width: 90vw;
        position: absolute;
        bottom: 0%;
        left: 30%;
    }

    .section-4-container {
        width: 100vw;
        margin-left: -13px;
        display: flex;
        flex-direction: column;
        height: 1900px;
    }

    .images-wrapper {
        position: relative;
        width: 100vw;
    }

    .images-desc {
        position: absolute;
        top: 10px;
        width: 80%;
        height: 40%;
    }

    .img1-title {
        font-size: 26px;
        margin-left: 130px;
    }

    .img1-desc {
        font-size: 14px;
        margin-left: 60px;
        text-shadow: -2px -2px 4px white, 0 0 10px white;
    }

    .img1-link-container {
        margin-top: 20px;
        margin-left: 150px;
        gap: 10px;
    }

    .img1-link {
        font-size: 16px;
        text-shadow: 1px 1px 2px black, 0 0 2px white;
    }

    .movie-picture {
        width: 70vw;
        right: 85%;
    }

    .section-5-container {
        height: 70vh;
    }

    .movie-images-container {
        justify-content: center;
        height: 60vh;
        /* object-fit: cover; */
    }

    .button-desc-container {
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-areas: "movie-cat" "desc" "stream-button";
        grid-template-rows: 0 40px 50px;
        position: absolute;
        left: -225px;
    }

    .stream-btn, .after-stream-btn {
        height: 50px;
        border-radius: 25px;
        grid-area: stream-button;
        justify-self: center;
    }

    .main-category, .before-category, .after-category {
        font-size: 16px;
        justify-self: center;
        padding: 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .movie-picture {
        object-fit: cover;
        
    }
    .movie-desc {
        font-size: 4vw;
        justify-self: center;
    }

    .movie-nav-container {
        display: grid;
        grid-template-columns: 6fr 1fr;
    }

    .middot1 {
        padding-left: 60px;
    }

    .pause-play-btn-container {
        width: 50%;
    }

    .upper-info-container {
        width: 90%;
    }

    .section-6-container {
        height: 350px;
    }

    .middle-info-container {
        display: none;
        /* grid-template-columns: 1fr 1fr;
        width: 60%;
        padding-top: 20px;
        justify-content: space-between; */
    }
    
    .bottom-info-container {
        width: 90%;
    }

    .top-footer-container {
        line-height: 18px;
    }

    .bottom-footer {
        display: grid;
        grid-template-areas: "policy cookies terms"
                            "sales legal map";
        line-height: 18px;
    }

    .policy {
        grid-area: policy;
    }

    .cookies {
        grid-area: cookies;
    }

    .terms {
        grid-area: terms;
    }

    .sales {
        grid-area: sales;
    }

    .legal {
        grid-area: legal;
    }

    .map {
        grid-area: map;
    }

}